{% extends 'app/main_logged_in.html' %}
{% block start %}
<br><br><br>
<div class="createSec">
<h1 style = "font-family:georgia,garamond,serif;font-size:36px;font-style:italic;text-align:center">Select the lab Department:</h1>
<br>
<div id="rooms" style = "font-family:georgia,garamond,serif;font-size:16px;text-align:center;font-style:italic">
        {% for room_category, room_url in room_list %}
        <div class="room" >
          <a href="{{room_url}}">
            <h2>{{room_category}}<h2>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
{% endblock %}
