{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AvailSys</title>
		<meta name="description" content="AvailSys,The Lab Reservation System" />
		<meta name="author" content="Team Samurais" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/component2.css" %}" />
    <link rel="stylesheet" href="{% static "css/Style1.css" %}" />
		<link rel="stylesheet" href="{% static "css/Style2.css" %}" />
		<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


	</head>
	<body>
		<div class="container">
            <div class="codrops-top clearfix">
                <a class="codrops-icon codrops-icon-prev" href="{% url "Manage_Sections" %}"><span>Return to Sections</span></a>
                <span class="right">
					<a class="codrops-icon codrops-icon-next" href="{% url "students" %}">
						<span>View Students</span>
					</a>
				</span>
            </div>
			<header>
				<h1>AvailSys<span>The Lab Reservation System</span></h1>
			</header>
			<div class="component">
				<h2>Add Student</h2>
				<br>
				<!-- Start Nav Structure -->

			</div>
				<!-- End of Nav Structure -->
				<form class="" action="" style = "font-family:georgia,garamond,serif;text-align:center;border-bottom: 0em;font-size:10px;font-style:italic;" method="post">
					<div style="text-align:center;">

							<span class="input" style="text-align:center;border-bottom: 0em;color:#429a67;font-size: 25px;">
								{% csrf_token %}
								<label for="">Section: </label>
								<!--{{form.section}}-->
								<select class="section_name" name="section_name">
									{% for i in section_show %}
									<option value="{{i.section}}">{{i.section}}</option>
									{%endfor%}
								</select>
								<br><br>
								<span></span>
							</span>
							<br><br><br>

							<span class="input" style="text-align:center;border-bottom: 0em;color:#429a67;font-size: 20px;">
								{% csrf_token %}
								<label for="">Roll Number: </label>
								{{form.roll_number}}<br><br>
								<span></span>
							</span>
							<br><br><br>

							<span class="input" style="text-align:center;border-bottom: 0em;color:#429a67;font-size: 20px;">
								{% csrf_token %}
								<label for="">Email: </label>
								{{form.email}}<br><br>
								<span></span>
							</span>
							<br><br><br>

					</div><br><br><br>
					<div>
							<nav class="Style1" style="text-align:center;border-bottom: 0em;font-size: 20px;" >
								<input type="submit" name="SUBMIT" style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;color:white;background-color:#429a67;text-align:center;">
							</nav>
							<br><br><br><br><br>
					</div>
				</form>


		</div><!-- /container -->
		<script src="{% static "js/polyfills.js" %}"></script>
		<script src="{% static "js/demo2.js" %}"></script>
	</body>
</html>
