{% extends 'app/main_logged_in.html' %}
{% block start %}
  <h3>DELETE SECTION</h3>

  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">

        <p>Are you sure, you want to delete"{{sec.section}}"?</p>
        <form action="{% url 'delete_section' sec.id %}" method="post">
          {% csrf_token %}
          <a class="btn btn-warning" href="{% url 'DashBoard' %}">Cancel</a>
          <input class="btn btn-danger" type="submit" name="Confirm">
        </form>

      </div>
    </div>
  </div>

{% endblock %}
