{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AvailSys</title>
		<meta name="description" content="AvailSys,The Lab Reservation System" />
		<meta name="author" content="Team Samurais" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/component2.css" %}" />
    <link rel="stylesheet" href="{% static "css/Style1.css" %}" />
		<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


	</head>
	<body>
		<div class="container">
        <div class="codrops-top clearfix">
				<span class="right">
					<a class="codrops-icon codrops-icon-drop" href="{% url "logout" %}">
						<span>Logout</span>
					</a>
				</span>
            </div>
			<header>
				<h1>AvailSys<span>The Lab Reservation System</span></h1>
			</header>
			<div class="component">
				<h2>Home Page</h2>
				<br><br><br><br>
                <!-- Start Nav Structure -->

			</div>
            <!-- End of Nav Structure -->
            <div style="text-align:center;">
            <nav class="Style1" >
                <a href="{% url "login" %}" class="btn">Teacher Login</a>
								<a href="{% url "register" %}" class="btn">Teacher SignUp</a>
								<a href="{% url "admin:index" %}" class="btn">Admin Login</a>
            </nav>
            </div>
    </div>
		<script src="{% static "js/polyfills.js" %}"></script>
		<script src="{% static "js/demo2.js" %}"></script>
	</body>
</html>
