{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#ADEFD1FF;">
  <a class='navbar-brand' href="{% url 'home' %}" style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;color:BLACK"><b>AvailSys</b></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex" >
        <div class="nav-item" style="height:30%;">
         <a class="nav-link" style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;color:#981d26" href="{% url 'login' %}"><b>Login</b></a>
        </div>
        <div class="nav-item" style="height:30%;">
          <a class="nav-link" style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;color:#981d26" href="{% url 'register' %}"><b>SignUp</b></a>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="nav-item right_nav" style="height:30%;">
          <a class="nav-link" style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;text-align:right;color:#981d26"href="{% url 'admin:index' %}"><b>Admin</b></a>
        </div></div>

  </div>

</nav>
