{% extends 'app/main_logged_in.html' %}
{% block start %}
<div class="createSec">
  <h3 style = "font-family:georgia,garamond,serif;font-size:45px;text-align:center;font-style:italic">Students Data</h3>

  <br>

  <div class="row">
    <div class="col">
      <div class="card card-body" style = "font-family:georgia,garamond,serif;text-align:center;font-size:20px;font-style:italic;">
        <form method="get">
            <p>Section: {{myFilter.form.section}} Email: {{myFilter.form.emails}} Roll Number: {{myFilter.form.roll_number}} </p>
          <button type="Submit" class="btn btn-primary" style="background-color:steelblue;font-size:10px;font-style:italic;"><center>Search</center></button>
        </form>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class= "col-md-12">
      <hr>
      <div class="card card-body" style = "font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
        <a class="btn btn-primary btn-sm btn-block" style="background-color: steelblue; height:50px;font-size:30px;" href="{% url 'Create_Student' %}">Create Student</a>
        <table class="table table-sm">
          <tr>
            <th>Student Roll Number</th>
            <th>Email</th>
            <th>Section ID</th>
            <th>View</th>
          </tr>

          {% for i in stud %}
            <tr>
              <td>{{i.roll_number}}</td>
              <td>{{i.email}}</td>
              <td>{{i.section}}</td>
              <td><a class="btn btn-sm btn-info" href="{% url 'student_id' i.id %}" style="background-color:steelblue;font-size:15px;font-style:italic;">View</a></td>
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
