<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color:#2d5986;
         color: white;
         text-align: center;
      }
      .createSec{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right:30px;
        padding-left:30px;
        margin:50px;
        background-color:	#ADD8E6;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete section email</title>
  </head>
  <body>
    <div class="createSec">
    <p>  You have successfully deleted {{sec.section}}</p>
    <p>Thank You,<br />From AvailSys Team</p>
    </div>
    <div class="footer">
      <p><center>AvailSys , Lab Reservation System </center></p>
    </div>
  </body>
</html>
